# Python bytecode
*.pyc
*.pyo
__pycache__/

# Virtual environments
venv/
.env/
.venv/

# IDEs and editors
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints
